body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #222 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border: 2px solid red;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,*/
/*textarea {
    max-width: 280px;
}*/


/*#showMsg {
     height: 200px;
}

#messageBox {
    height: 100px;
    width: 400px;
    text-align: start;
    line-height: 100px;
    vertical-align: initial;
}*/

#sendMsgBtn {
    height: 86px;
    width: 75px;
}

#usernameLabel {
    margin-left: 60px;
}

#keyLabel {
    margin-left: 120px;
}

.nav-title {
    color: #d51e1e !important;
}

.nav-title:hover {
    color: orange !important;
}

.chatContainer {
    border: 2px solid orange;
    top: 50px;
    height: 550px;
    width: 450px;
    display: inline-block;
    margin-left: 50px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

#ChatShit {
    display: inline-block;
}

