body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #222 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-family: 'Comic Sans MS';
    /*border: 2px solid red;*/
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,*/
/*textarea {
    max-width: 280px;
}*/


/*#showMsg {
     height: 200px;
}

#messageBox {
    height: 100px;
    width: 400px;
    text-align: start;
    line-height: 100px;
    vertical-align: initial;
}*/

#sendMsgBtn {
    height: 87px;
    width: 75px;
    background-color: lightgray;
    border-radius: 5px;
}

#usernameLabel {
    margin-left: 60px;
}

#keyLabel {
    margin-left: 70px;
}

.navbar-inverse {
    border-color: #d51f21 !important;
}

.nav-title {
    color: #d51e1e !important;
}

.nav-title:hover {
    color: white !important;
}

.chatContainer {
    border: 3px solid white;
    border-radius: 5px;
    top: 50px;
    height: 550px;
    width: 520px;
    display: inline-block;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.usernameSpan {
    color: #c91e20;
}

#ChatShit {
    display: inline-block;
}

.usernameText {
    font-weight: bold;
    font-size: medium;
    color: orange;
}

.timeText {
    color: gray;
}

#messageBox {
    background: #222;
    color: white;
    border-radius: 5px;
    border: 3px solid;
}

.newMessage {
    margin-left: 5px;
    margin-right: 5px;
}

.usernameDiv {
    margin-top: 200px;
}